.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
  padding: 10px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 5px;
  width: 200px;
}
.line {
  border: 1px solid rgb(73, 73, 167);
  width: 75%;
}
