.customContainer {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin-left: 20px;
  position: relative;
}
.freelancer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.leftside {
  position: absolute;
  top: 18px;
  left: 77%;
  z-index: 1;
}
